    .logo{
      width:650px;
      height:105px;
    }
    .header-div{
      background-color: #39f2ff;
    }
    .profile-icon{
      height:50%;
      width: 5%;
    }
    .dropdown{
      height: 25px;
    }
    .gmail-addition{
      padding: 0px 5px 5px;
    }
    .card-heading{
      font-family: Roboto,sans-serif;
      color: #18A3AC;

    }
    .card,.card-contents{
      background-color: #F1F1F1;
    }
    .card-body{
      height: 100px;
    }
    .nav-bar-content,.welcome-font,.roboto-font{
      font-family:Roboto,sans-serif;
    }
    .font-poppins{
      font-family: Poppins,sans-serif;
      font-weight: 300;
    }
    .card{
      height:50%;
    }
    .search-bar{
      border-top-left-radius: 15px;
      border-bottom-left-radius:15px ;
    }
    .search-div{
      width:100%;
    }
    .search-btn{
     border-top-right-radius: 15px  !important;
     border-bottom-right-radius: 15px !important;
    }
    td{
        max-width:150px !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }