{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/change-password.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo/logo1.png' %}" type='image' sizes='48x48' />
</head>

<body>
<div class="mainDiv">
  <div class="cardStyle">
    <form action="" method="POST" name="signupForm" id="signupForm">
      {% csrf_token %}

      <img src="{% static 'images/logo/logo1.png' %}" id="signupLogo"/>

      <h2 class="formTitle">
        Change Password
      </h2>
      {% if password_success is None %}
        <div class="inputDiv">
          <label class="inputLabel" for="password">New Password</label>
          <input type="password" id="password" name="password" required>
        </div>

        <div class="inputDiv">
          <label class="inputLabel" for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" name="confirmPassword">
          {% if password_error is not None %}
            <span class="text-small text-success mt-2">{{password_error}}</span>
          {% endif %}
        </div>

        <div class="buttonWrapper">
          <button type="submit" id="verifyButton" class="submitButton pure-button pure-button-primary" name="verify" {% if password_success is not None %} disabled {% endif %}>
            <span>Verify</span>
          </button>
        </div>
      {% endif %}

    {% if password_success is not None %}

      <div class="inputDiv">
        <label class="inputLabel" for="otp">OTP</label>
        <input type="password" id="otp" name="otp">
        {% if otp_error is None %}
          <span class="text-small text-success mt-2">An OTP is send to your Email</span>
        {% else %}
          <span class="text-small text-success mt-2">{{otp_error}}</span>
        {% endif %}
      </div>

      <div class="buttonWrapper">
        <button type="submit" name="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
          <span>Continue</span>
          <span class="mt-1" id="loader"></span>
        </button>
      </div>
    {% endif %}


  </form>
  </div>
</div>

</body>
</html>