{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Techbuy | Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo/logo1.png' %}" type='image' sizes='48x48' />
 
     
 
</head>
<body>

    <div class="login-page bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                  <h3 class="mb-3">Techbuy | Login Now</h3>
                    <div class="bg-white shadow rounded">
                        <div class="row">
                            <div class="col-md-7 pe-0">
                                <div class="form-left h-100 py-5 px-5">
                                    <form method="POST" class="row g-4">
                                        {% csrf_token %}
                                            <div class="col-12">
                                                <label for="username">Username<span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                    <input type="text" name="user_name" class="form-control" placeholder="Enter Username" id="username">
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <label for="passwordInput">Password<span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-text"><i class="bi bi-lock-fill" onclick="Password_fun('passwordInput')"></i></div>
                                                    <input type="password" name="user_pass" class="form-control" placeholder="Enter Password" id="passwordInput">
                                                </div>
                                                {% if error %}
                                                        <small class="text-danger">{{ error }}</small>
                                                {% endif %}
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                                    <label class="form-check-label" for="inlineFormCheck">Remember me</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <a href="#" class="float-end text-primary">Forgot Password?</a>
                                            </div>
                                            <div class="link">
                                                <p>New User?<a href="{% url 'sign_up' %}">  Sign up</a></p>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary px-4 float-end mt-4">login</button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5 ps-0 d-none d-md-block">
                                <div class="form-right h-100 bg-warning text-white text-center pt-5 position-relative">
                           
                                    <h2 class="fs-1">Techbuy</h2>
                                    
                                    <img  class="img-fluid " src="{% static '/images/logo/logo1.png' %}" alt="logo">
                                    
                                </div>
                            </div>
                        </div>
                    <!-- </div>
                    <p class="text-end text-secondary mt-3">Bootstrap 5 Login Page Design</p> -->
                </div>
            </div>
        </div>
    </div>

    <script>
        function Password_fun(inputId) {
            var x = document.getElementById(inputId);
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
     
</body>
</html>
